<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="volunAct">
<select id="selectVolunteerList"
        parameterType="VolunActivityDTO"
        resultType="VolunActivityDTO">

    SELECT * FROM (
        SELECT ROWNUM RN, A.* FROM (

            SELECT
                VA.Volun_Act_No,
                VA.Volun_Act_Title,
                O.ORGAN_NAME AS orgName,
                VA.Volun_Act_Recru_Begin,
                VA.Volun_Act_Recru_End,
                VA.Volun_Act_Point,
                VA.Volun_Act_Address,

                CASE VA.Volun_Act_Act_Type
                    WHEN 1 THEN '환경'
                    WHEN 2 THEN '의료'
                    WHEN 3 THEN '교육'
                    WHEN 4 THEN '생활·편의'
                    WHEN 5 THEN '문화·체육·예술'
                    ELSE '기타'
                END AS actTypeName,

                CASE VA.Volun_Act_Age_Group
                    WHEN 1 THEN '청소년'
                    WHEN 2 THEN '청년'
                    WHEN 3 THEN '직장인'
                END AS ageGroupName

            FROM TBL_VOLUN_ACTIVITY VA
            LEFT JOIN TBL_ORGAN O ON VA.Volun_Act_Organ_No = O.ORGAN_NO

            <where>
				1 = 1
                <if test="volunActActType != 0">
                    AND VA.Volun_Act_Act_Type = #{volunActActType}
                </if>

                <if test="volunActAgeGroup != 0">
                    AND VA.Volun_Act_Age_Group = #{volunActAgeGroup}
                </if>

                <if test="recruitStatus == '1'">
                    <![CDATA[
                    AND SYSDATE BETWEEN VA.Volun_Act_Recru_Begin AND VA.Volun_Act_Recru_End
                    ]]>
                </if>

                <if test="recruitStatus == '2'">
                    <![CDATA[
                    AND SYSDATE < VA.Volun_Act_Recru_Begin
                    ]]>
                </if>
                
                 
                <if test="recruitStatus == '3'">
                	<![CDATA[
                    AND SYSDATE > VA.Volun_Act_Recru_End
                     ]]>
                </if>
                

                <if test="organization != null and organization != ''">
                    AND O.ORGAN_NAME LIKE CONCAT('%', #{organization}, '%')
                </if>

                <if test="searchType == 'title' and keyword != null and keyword != ''">
                    AND VA.Volun_Act_Title LIKE CONCAT('%', #{keyword}, '%')
                </if>

                <if test="searchType == 'point' and keyword != null and keyword != ''">
                    AND VA.Volun_Act_Point = #{keyword}
                </if>

            </where>

            ORDER BY VA.Volun_Act_No DESC

        ) A <![CDATA[
        WHERE ROWNUM <= #{endRow}
        ]]>
    )<![CDATA[
    WHERE RN > #{startRow}
    ]]>

</select>

<select id="selectVolunteerCount"
        parameterType="VolunActivityDTO"
        resultType="int">

    SELECT COUNT(*)

    FROM TBL_VOLUN_ACTIVITY VA
    LEFT JOIN TBL_ORGAN O 
    ON VA.Volun_Act_Organ_No = O.Organ_No

    <where>
        1 = 1

        <if test="volunActActType != 0">
            AND VA.Volun_Act_Act_Type = #{volunActActType}
        </if>

        <if test="volunActAgeGroup != 0">
            AND VA.Volun_Act_Age_Group = #{volunActAgeGroup}
        </if>

        <if test="recruitStatus == '1'">
            <![CDATA[
            AND SYSDATE BETWEEN VA.Volun_Act_Recru_Begin AND VA.Volun_Act_Recru_End
            ]]>
        </if>

        <if test="recruitStatus == '2'">
            <![CDATA[
            AND SYSDATE < VA.Volun_Act_Recru_Begin
            ]]>
        </if>

        <if test="recruitStatus == '3'">
            <![CDATA[
            AND SYSDATE > VA.Volun_Act_Recru_End
            ]]>
        </if>

        <if test="organization != null and organization != ''">
            AND O.Organ_Name LIKE CONCAT('%', #{organization}, '%')
        </if>

    </where>

</select>

</mapper>