@charset "UTF-8";

/* 전체 레이아웃 */

body {
  min-height: 100vh;
}

.l-main {
  display: flex;
  min-height: 100vh;
}

/* 메인위에 헤더 */
.header {
  padding-bottom: 30px;

  border-bottom: 1px solid #ddd;

  margin-bottom: 100px;
}

/* 메인 내용영역*/

.l-content {
  flex: 1;
  background: #f0f0f0;
  border: 1px solid black;

  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 30px;
  /* justify-content: center; */
}

/* 컨텐츠 박스 */

#content-area {
  background: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
}
/* 위에상황판 */
.today {
  display: flex;
}
/* 미완료 봉사목록 헤더 */
.notyet-head {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
/*미완료 봉사활동 타이틀과  칸수정리 */
/* 신규 신청기업 타이틀과 칸수 정리 */
.c-list--4col .c-list__header,
.c-list--4col .c-list__row {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* 신규 신청기업 헤더 */
.new-company-list {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
